* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: rgb(145, 196, 27);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #f7f1ec;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: rgb(12, 247, 32);
    position: relative;
}

@media screen and (max-width:1200px) {
    /*Normal ekran*/
    .navbar {
        width: 100%;
        height: 100px;
    }
    ul {
        margin-left: 30px;
    }
    ul li {
        margin-left: 60px;
    }
    ul li a {
        font-size: 1.6vw;
    }
    .btn {
        height: 40px;
        width: 80px;
    }
    .content {
        width: 100%;
    }
    .content h1,
    .content span {
        font-size: 4.5vw;
    }
    .content .par {
        width: 90%;
        font-size: 1.5vw;
    }
    .content a {
        font-size: 1.6vw
    }
}

@media screen and (max-width:1170px) {
    /*giris*/
    .main {
        padding-left: 20px;
        height: 180vh;
    }
}

@media screen and (max-width: 830px) {
    /*tablet icin*/
    .content {
        margin-top: 120px;
        width: 80%;
        margin-left: 40px;
    }
    .content h1,
    .content span {
        font-size: 6vw;
    }
    .content .par {
        width: 90%;
        font-size: 1.8vw;
    }
    .content a {
        font-size: 2vw
    }
    ul {
        margin-top: -5px;
        margin-left: 5px;
    }
    ul li {
        margin-left: 60px;
    }
    ul li a {
        font-size: 2vw;
    }
    .main {
        padding-left: 20px;
        height: 180vh;
    }
}

@media screen and (max-width: 600px) {
    /*Ipad*/
    .content {
        margin-top: 80px;
        margin-left: 20px;
    }
    ul {
        margin-top: -25px;
        margin-left: -5px;
    }
    ul li {
        margin-left: 50px;
    }
    ul li a {
        font-size: 2vw;
    }
}

@media screen and (max-width: 450px) {
    /*telefon icin*/
    .logo {
        margin-left: 140px;
        font-size: 4vw;
    }
    ul {
        margin-top: -25px;
    }
    ul li {
        margin-left: 42px;
    }
    ul li a {
        font-size: 2vw;
    }
}
